.card{
    margin-bottom: 25px;

    &.bookCard {
        border: 1px solid red;
    }

    &.characterCard {
        border: 1px solid blue;
    }

    &.houseCard {
        border: 1px solid green;
    }
}
